---

---

<section
  class="flex gap-4 justify-center text-center w-full bg-white sm:block sm:static sm:w-auto"
>
  <a
    href="/"
    class="py-3 px-0 no-underline text-xl uppercase font-bold text-gray-700 hover:text-red-400 focus:text-red-400 sm:inline-block sm:py-4 sm:px-5"
    >Inicio</a
  >
  <a
    href="/about/"
    class="py-3 px-0 no-underline text-xl uppercase font-bold text-gray-700 hover:text-red-400 focus:text-red-400 sm:inline-block sm:py-4 sm:px-5"
    >Sobre Mi</a
  >
  <a
    href="/blog/"
    class="py-3 px-0 no-underline text-xl uppercase font-bold text-gray-700 hover:text-red-400 focus:text-red-400 sm:inline-block sm:py-4 sm:px-5"
    >Blog</a
  >
  <a
    href="/tags/"
    class="py-3 px-0 no-underline text-xl uppercase font-bold text-gray-700 hover:text-red-400 focus:text-red-400 sm:inline-block sm:py-4 sm:px-5"
    >Etiquetas</a
  >
</section>
